.title-element::before {
    content: '<';
    color: var(--clr-gray);
    display: inline-block;
    transition: .1s;}


.title-element{
    text-transform: lowercase;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-family: var(--ff-mono);
    padding-top: 5rem;
}


.title-element::after {
    content: '>';
    color: var(--clr-gray);
    display: inline-block;
    transition: .1s;}


    @media (hover: hover) {
        .title-element:hover::before,
        .title-element:hover::before {
            transform: translateX(-1rem);
        }
      
        .title-element:hover::after,
        .title-element:hover::after {
            transform: translateX(1rem);
        }
      }

      
 @media screen and (max-width: 550px){

    /*Section Profile*/
    .title-element {
        font-size: 2.6rem;}
}