
.divArticles{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    
}

.folderPortfolio{
    margin-right: auto;
    color: var(--clr-details);
    
}


@media screen and (max-width: 550px){

    /*Section Profile*/
    .divArticles {
        grid-template-columns: 1fr;}
}




