article{
    background-image: radial-gradient(ellipse 80% 80% at 50% -20%, #7877c64d, #fff0);
   
    border-radius: 0.25rem;
    border: 1px solid var(--clr-gray);
    transition: .2s;
 
    
    
}

article:hover{
    border-color: var(--clr-details);
}

.headArticIcons{
    display: flex;
    justify-content: space-between;
}

.div-iconlink{
    display: flex;
    align-items: center;
    width: 5rem;
    justify-content: space-between;

}


.project-title{
    margin-bottom: 1rem;
    transition: .2s;
    font-family: var(--ff-title);
}

@media (hover: hover) {
    article:hover .project-title {
        color: var(--clr-details);
    }
}


article p{
    font-family: var(--ff-text);
}
   
.card {
   
    border-radius: 20px;
    transition: all .3s;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
   }
 
   .card:hover {
    box-shadow: 0px 0px 30px 1px  var(--clr-details);
   }


.section-cuerpo-card{
    padding: 2rem;
    width: 100%;
    max-width: 200%;
}


.section-image-card{
    width: 64%;
    display: flex;
    padding: 1rem;
    justify-content: center;
}

.imagecard{
    max-width: 100%;
    border-radius: 20px;
}


@media screen and (max-width: 768px){

    .section-image-card{
        padding: 0;
        padding-top: 1rem;
    }
    .card{
        flex-direction: column;
        width: 100%;
    }
}