.a-BtnLink2{
    margin: 7px;
    cursor: pointer;
    font-size: 1.2rem;
    height: 41px;
    border: 1.6px solid;
    border-radius: 99999px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    padding: 12px;
    background-image: radial-gradient(ellipse 80% 80% at 50% -20%, #7877c64d, #fff0);
    text-decoration: none;
    color: var(--clr-text);
    /* background-color: var(--clr-backgrounds); */
    transition: 0.5s;
    flex-direction: row;
    flex-wrap: nowrap;
}

.btn-link2{
    font-size: 2.4rem;
    color: var(--clr-text);
    transition: .2s;
    cursor: pointer;
    margin-right: 5px;
}
.a-BtnLink2:hover{
    transform: scale(1.1);
}
.a-BtnLink2:active{
    transform: scale(0.9);
}